public class Persona {
    
    private String nombre;
    private int edad;
    private int telefono;
    //getter y setter de nombre
    public String getNombre() {
        return nombre;
    }
    
    public void setNombre(String nombre) {
        this.nombre = nombre;
    }
    
    //getter y setter de edad
    public int getEdad() {
        return edad;
    }
    
    public void setEdad(int edad) {
        this.edad = edad;
    }
    
    //getter y setter de telefono
    public int getTelefono() {
        return telefono;
    }
    
    public void setTelefono(int telefono) {
        this.telefono = telefono;
    }
    
    
    public static void main(String args[]) {
        Persona persona1 = new Persona();
        persona1.setNombre("michelle");
        persona1.setEdad(28);
        persona1.setTelefono(667957176);
        System.out.println(persona1.getNombre());
        System.out.println(persona1.getEdad());
        System.out.println(persona1.getTelefono());

    }
}
